<div class="product-details">
  <div class="product-thumbnail">
    <img [src]="productdata.thumbnail" alt="{{ productdata.title }} Thumbnail">
  </div>
  <h2>{{ productdata.title }}</h2>
  <p>Category: {{ productdata.category }}</p>
  <p>Price: ${{ productdata.price }}</p>
  <p>Description: {{ productdata.description }}</p>


  <div *ngFor="let image of productdata.images.split(',')">
    <img [src]="image.trim()" alt="{{ productdata.title }} Image">
  </div>

  <button (click)="addToCart(productdata)">Add to Cart</button>
</div>

